
.top-container {
    background:#abf0e9;
  
    padding:20px;
    position:relative; /*one of the parent of absolute is relative then it is absolute to that parent and not body*/
    padding-top:100px;

}

body{
    margin:0;
    text-align:center; /*these property is always set in parent conatiner or if whole website want to be center then in body 
       but when width property is applied in percent i.e 10%  then from starting it will give 10% width
       so we can use margin property
    */
   font-family: 'Merriweather',
   serif;
   color:#40514e;
}
h1{
    /*dynamic font sizing are % and ems
      1em=16px;

      if we add font size 2em in body then in h1 3em then total size will be 5em of h1 as dynamic sizes are inherited from its parent element also same for percentage
      in css3 we have rem i.e root em  which does not inherit size of parent elements so always use rem
    */
    font-size:562.5%; /*16 px is equvalent to 100% therefore 90px will be 900/16=562.5%   */
    width:30%;
    margin:2.6rem auto 0 auto;
    /*top right bottom left    auto automatically centralizes the element */
    font-family: 'Sacramento',
    cursive;
    color:#66BFBF;
    line-height: 2;

}
h2{
    font-family: 'Montserrat',
    sans-serif;
    font-size:2.5rem; /*approx 40px*/
    color:#66BFBF;
    font-weight:normal;

}
h3{
    font-family: 'Montserrat',
    sans-serif;
    color:#11999E;
}
a{
    color:#11999E;

}

.bottom-cloud{
    position:absolute;
    right:45%;
   
}
.top-cloud{
    position:absolute;
     right:555px;
     top:50px;
}
.skill-row{
    margin:100px auto 100px auto;
  width:50%;
  text-align:left;
  line-height:2;/*no unit is to be specified*/

}
.img{
    width:25%;
    float:left;
    margin-right:30px;
}
.main_img{
    width:15%;

}

#press {
    background:#66BFBF;

    padding: 5%;


}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;


}
hr{
    margin:100px auto 100px auto;
    
    width:5%;
    border:10px dotted #EAF6F6;
    border-bottom:none;

    
}

.middle-container{
    margin:100px 0; /*100px at top and bottom and 0 at left and right*/
}
.intro{
    margin:auto; /*auto for all left right top bottom*/
    width:30%;
    line-height:2;
    /*line height must be added to paragraph they look good*/
}
.contact-me{
    margin:40px auto 60px auto;
    width:40%;

}


/*button creator css*/
/* .BUTTON_YFU {

    margin-top:50px;
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
     font-family: 'Montserrat' san;
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_YFU:hover {
    border: solid #337FED 1px;
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
 */


/* custom button  */
.cm-btn{
    position: relative;
    width: 12rem;
    height: 3rem;
    background-color: #11999E;
    text-decoration: none;
    color: white;
    border: none;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.527);
    border-radius: 10%;
    overflow: hidden;
    outline: none;
}
.cm-btn::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right , transparent , #fff ,transparent);
    top: 0;
    left: 200px;
    border-radius: 10%;
    transition: all .7s ease;
}

.cm-btn:hover.cm-btn::before{
    left: -200px;
}

/* end of  custom button  */

.bottom-container{

    background:#66bfbf;
    padding:50px 0 20px;/*top left and right  bottom*/
    /*last para ki wajah se jo spacing aari thi bottom pe woh chali gayi padding ki wajah se
       aur container pura screen end ko touch kiya alag se para ko class deke margin zero karne ki zarurat nai 
    */
}
a.footer-link{
    margin:30px;
    text-decoration: none;
    font-size: 1rem;
    transition: all.2s ease;
}
a.footer-link:hover{
    font-size: 1.1rem;
    letter-spacing: .5rem;
    transition: all .3s ease;
}
.footer-para{
     color:white;
}







/*browser khud apne khud ke margins dalta woh nikala hai h1 aur body me se*/
/*padding content ko khich ke biche me nai lata...padding 20px add kiya toh jitni size hai
  box ki usme sab taraf 20px add kardega andar se aur box ko bada karega toh content apne aap khich jayega
   width of inline elements cannot be changed
   display:inline-block; helps to make things inline as well as allows to change width
   images are inline block by default
   display:none hides elemet and as well as space taken and visibility:hidden hides element but space taken bu
   element remains as it is 
   width is determined by inline or block property
   height is determined by content presend inside it 


   by default serif family is used we can also use san-serif or monospace
   font embedding is best option using google fonts


   we have image and down of the image a text to wrap text around image give image a float 
   property
   so all come adjacent to each other

   clear property is used to clear wrapping due to float eg: clear:left left me jo wrpping hai 
   woh clear karega <p> ko class deke uss class me clear left kia toh paragraph niche aajayega lekin headding abi bi left me hi 
   wrap hogi such combo can be used to design different styles

   clear is nothing but a anti float
  */
